/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "MrEavesXLModOT-Reg";
  src: url("./fonts/MrEavesXLModOT-Reg.eot"); /* IE9 Compat Modes */
  src: url("./fonts/MrEavesXLModOT-Reg.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/MrEavesXLModOT-Reg.otf") format("opentype"), /* Open Type Font */
    url("./fonts/MrEavesXLModOT-Reg.svg") format("svg"), /* Legacy iOS */
    url("./fonts/MrEavesXLModOT-Reg.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/MrEavesXLModOT-Reg.woff") format("woff"), /* Modern Browsers */
    url("./fonts/MrEavesXLModOT-Reg.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}